 *{
    margin: 0;
    padding: 0;
  }
  .name
  {
    width: 1170px;
    margin: auto;
  
  }
  .logo{
    position:absolute;
    top: 10%;
    left: 35%;
  }
  .logo h1{
    font-size: 50px;
    color:white;
    letter-spacing: 10px;
  }
  header{
    background: url("image4.jpg");
  height: 800px;
  width: 1700px;
  
  background-size: cover;
  background-position: center center;
  position: relative;
  }
  .nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
  }
  .nav-area li{
    display: inline-block;
  
  }
  .nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 20px;
  
  }
  .nav-area li a:hover{
    background: whitesmoke;
    color:lightslategray;
  }
