
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.section{
    width: 100%;
    min-height: 100vh;
    background-color:white;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;

}
.content-section{
    float: left;
    width: 55%;

}
.image-section{
    float: right;
    width: 40%;
}
.image section img{
    width: 100%;
    height:auto;
}
.content-section.title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .content h3{
    margin-top: 20px;
    color: black;
    font-size: 25px;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
 background-color: grey;
 padding:  12px 40px;
 text-decoration: none;
 font-size: 25px;
 letter-spacing: 1.5px;

}
.content-section .content .button a:hover{
 background-color: red;
 color: #fff;
}



.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }